/* 
    1. Posicionamiento
    2. Modelo de Caja (Box model)
    3. Tipografías
    4. Temas visuales 
    5. Miscelaneos
*/

:root {
    /* Colors */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --black: #201E1C;
    --warm-black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
    --background: #E5E5E5;
    /* Fonts */
    --font-dmsans:'DM Sans', sans-serif;
	--font-inter:'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--font-dmsans);
}

/* ---------- HEADER ----------*/

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

.header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size: 2.4rem;
    color: var(--just-white);
    font-weight: 700;
    line-height: 2.6rem;
}

.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    color: var(--soft-orange);
    font-weight: 500;
    line-height: 1.8rem;
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 114.5px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    border: none;
    border-radius: 4px;
    /* Fuente */
    text-decoration: none;
    color: var(--black);
    font-size: 1.4rem;
    font-weight: 700;
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 13px;
    background-image: url('../assets/icons/down-arrow.svg');
}

/* MAIN SECTION */

.exchange-rate {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--off-white);
}

.exchange-rate--image {
    margin: 50px 0;
    width: 70%;
}

.exchange-rate--presentation {
    margin-bottom: 30px;
    text-align: center;
}

.exchange-rate--presentation_title {
    padding: 20px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
}

exchange-rate--presentation_description {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
}

.exchange-rate--card {
    display: flex;
    flex-direction: column;
}

.exchange-rate--card_title {
    font-size: 1.8rem;
    line-height: 2.344rem;
    color: var(--bitcoin-orange);
    font-weight: 700;
    align-self: flex-start;
    padding: 10px 4px;
}

.exchange-rate--card_grid {
    display: grid;
    grid-template-columns: 2fr 1.2fr .4fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
    border-radius: 40px;
}

.exchange-rate--card_grid p {
    background-color: var(--just-white);
    padding: 10px;
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--grey);
}

.exchange-rate--card_grid p span {
    margin-left: 5px;
}

.exchange-rate--update {
    background-color: var(--soft-orange);
    margin: 15px 0;
    padding: 10px;
    border-radius: 8px;
    font-family: var(--font-inter);
    font-size: 1.6rem;
}

.bold { 
    font-weight: 700;
}

.arrow {
    font-size: 1.2rem;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    margin: auto;
}