/* 
    1. Posicionamiento
    2. Modelo de Caja (Box model)
    3. Tipografías
    4. Temas visuales 
    5. Miscelaneos
*/

:root {
    /* Colors */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --black: #201E1C;
    --warm-black: #282623;
    --grey: #BABABA;
    --dark-grey: #757575;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
    --background: #E5E5E5;
    /* Fonts */
    --font-dmsans:'DM Sans', sans-serif;
	--font-inter:'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--font-dmsans);
}

/* ---------- HEADER ----------*/

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

.header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    font-size: 2.4rem;
    color: var(--just-white);
    font-weight: 700;
    line-height: 2.6rem;
}

.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    color: var(--soft-orange);
    font-weight: 500;
    line-height: 1.8rem;
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 114.5px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    border: none;
    border-radius: 4px;
    /* Fuente */
    text-decoration: none;
    color: var(--black);
    font-size: 1.4rem;
    font-weight: 700;
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 13px;
    background-image: url('../assets/icons/down-arrow.svg');
}

/* MAIN SECTION */
.main-exchange-container {
    margin: 30px auto;
    width: 100%;
    background-color: var(--off-white);
    overflow: hidden;
}

.main-exchange-container--img {
    margin: 20px auto;
    background-image: url(../assets/img/Bitcoin.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 250px;
    min-width: 288px;
    max-width: 900px;
    height: 250px;
}

.main-exchange-container--title {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    min-width: 288px;
    max-width: 900px;
}

.main-exchange-container--title h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--black);
    margin-bottom: 30px;
}

.main-exchange-container--title p {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--dark-grey);
    line-height: 1.8rem;
    margin-bottom: 40px;
}

.main-tables-container {
    display: flex;
}

/* PRIMERA TABLA */

.table-container {
    display: grid;
    grid-template: 35px 159px 31px / 197px 38px;
    grid-template-areas: "titulo titulo"
                        "contenido boton"
                        "fecha fecha";
    margin-left: calc(50% - 100px);
    margin-bottom: 30px;
    /* display: none; */
}

.item.title {
    grid-area: titulo;
    align-self: center;
    justify-self: start;
    margin-left: 12px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.item.content {
    grid-area: contenido;
    display: grid;
    grid-template: repeat(4, 1fr) / 101px 95px;
    border-radius: 10px;
    overflow: hidden;
    grid-gap: 1px;
}

.item.content .subitem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 12px;
    background-color: var(--just-white);
}

.item.content .text {
    font-family: var(--font-inter), sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--grey);
}

.item.content .value {
    font-family: var(--font-inter), sans-serif;
    font-weight: normal;
    font-size: 1.4rem;
    color: var(--dark-grey);
    background-image: url(../assets/icons/trending-down.svg);
    background-repeat: no-repeat;
    background-position: 80%;
}

.item.content .value:nth-of-type(4) {
    background-image: url(../assets/icons/trending-up.svg);
}

.item.button {
    grid-area: boton;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/icons/right-arrow.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.item.button a {
    display: block;
    width: 50%;
    height: 80%;
}

.item.date {
    grid-area: fecha;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--soft-orange);
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 5px;
    width: 173px;
    height: 31px;
    font-family: var(--font-inter), sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.9rem;
    color: var(--black);
}

.item.date span {
    line-height: 1.3rem;
    font-weight: 500;
}

/* SEGUNDA TABLA */

.table-container2 {
    display: grid;
    grid-template: 35px 159px 31px / 38px 197px;
    grid-template-areas: "boton titulo"
                        "boton contenido"
                        "boton fecha";
    margin-left: calc(50% - 125px);
    margin-bottom: 30px;
}

.item.title2 {
    grid-area: titulo;
    align-self: center;
    justify-self: start;
    margin-left: 12px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.3rem;
    color: var(--secondary-blue);
}

.item.content2 {
    grid-area: contenido;
    display: grid;
    grid-template: repeat(4, 1fr) / 101px 70px;
    border-radius: 10px;
    overflow: hidden;
    grid-gap: 1px;
}

.item.content2 .subitem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 12px;
    background-color: var(--just-white);
}

.item.content2 .text2 {
    font-family: var(--font-inter), sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--grey);
}

.item.content2 .value2 {
    font-family: var(--font-inter), sans-serif;
    font-weight: normal;
    font-size: 1.4rem;
    color: var(--dark-grey);
}

.item.button2 {
    grid-area: boton;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/icons/right-arrow.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform: rotate(180deg);
}

.item.button2 a {
    display: block;
    width: 50%;
    height: 80%;
}

.item.date2 {
    grid-area: fecha;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--soft-blue);
    margin-top: 15px;
    /* margin-left: 15px; */
    border-radius: 5px;
    width: 173px;
    height: 31px;
    font-family: var(--font-inter), sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.9rem;
    color: var(--black);
}

.item.date span {
    line-height: 1.3rem;
    font-weight: 500;
}

/* PRODUCT DETAILS SECTION */

.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--black);
    color: var(--just-white);
}

.product-detail--logo {
    position: absolute;
    width: 40px;
    height: 25px;
    background-image: url(../assets/icons/batata.svg);
    top: -12px;
    left: calc(50% - 25px);
}

.product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

.product-detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
}

.product-detail--title p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #808080;
    line-height: 1.8rem;
}

.product-detail--card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--warm-black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail--card .clock {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    background-image: url(../assets/icons/clock.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail--card .eye {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    background-image: url(../assets/icons/eye.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail--card .dolar {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    background-image: url(../assets/icons/dollar-sign.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-detail--card .check {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    background-image: url(../assets/icons/check-circle.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product--card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
}

.product--card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}